.table {

    width: inherit;
    max-width: 100%;
    margin-bottom: 21px;
    padding: 6px 13px;

}
a.anchor-link:link {
    text-decoration: none;
    padding: 0 20px;
    visibility: hidden
}

h1:hover .anchor-link,
h2:hover .anchor-link,
h3:hover .anchor-link,
h4:hover .anchor-link,
h5:hover .anchor-link,
h6:hover .anchor-link {
    visibility: visible
}

img[alt="Me"] {
  max-width:  200px;
  display: block;
}
